In [1]:
import pandas as pd

In [2]:
mAP =[["SSD Resnet50 FPN", 72.92, 97.03, 81.82]]
mAR = [["SSD Resnet50 FPN",  7.04, 60.14, 78.73, 27.69, 69.33, 84.63]]

mAP_df = pd.DataFrame(mAP, columns=[['', 'mAP', 'mAP50', 'mAP75']])
mAR_df = pd.DataFrame(mAR, columns=[['', 'mAR1', 'mAR10', 'mAR100', 'mARsmall', 'mARmedium', 'mARlarge']])

In [8]:
print(mAP_df.to_latex(index=False))
mAP_df

\begin{tabular}{lrrr}
\toprule
                  &    mAP &  mAP50 &  mAP75 \\
\midrule
 SSD Resnet50 FPN &  72.92 &  97.03 &  81.82 \\
\bottomrule
\end{tabular}

                       mAP  mAP50  mAP75
0  SSD Resnet50 FPN  72.92  97.03  81.82

In [9]:
print(mAR_df.to_latex(index=False))
mAR_df

\begin{tabular}{lrrrrrr}
\toprule
                  &  mAR1 &  mAR10 & mAR100 & mARsmall & mARmedium & mARlarge \\
\midrule
 SSD Resnet50 FPN &  7.04 &  60.14 &  78.73 &    27.69 &     69.33 &    84.63 \\
\bottomrule
\end{tabular}

                     mAR1  mAR10 mAR100 mARsmall mARmedium mARlarge
0  SSD Resnet50 FPN  7.04  60.14  78.73    27.69     69.33    84.63